# Disallow access to certain files
<FilesMatch ^\.>
	Deny from all
</FilesMatch>

<FilesMatch \.txt$>
	Deny from all
</FilesMatch>

<FilesMatch ^functions\.>
	Deny from all
</FilesMatch>

<LocationMatch ^\.svn>
	Deny from all
</LocationMatch>

<FilesMatch \.php$>
	Deny from all
</FilesMatch>