# Enforce PHP mime types
AddType application/x-httpd-php .php

# Disallow access to certain files
<FilesMatch ^\.>
	Order deny,allow
	Deny from all
</Files>

<FilesMatch \.txt$>
	Order deny,allow
	Deny from all
</FilesMatch>

<FilesMatch ^functions\.>
	Order deny,allow
	Deny from all
</FilesMatch>

<Location func>
	Order deny,allow
	Deny from all
</Location>

<LocationMatch ^\.svn>
	Order deny,allow
	Deny from all
</LocationMatch>

<Location po>
	Order deny,allow
	Deny from all
</Location>